html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: $white;
  background: $black;
  font-family: $font-roboto;
  overflow-x: hidden;
}

a {
  color: $yellow;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

::selection {
  background: $yellow;
  color: $black;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.flex-left {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-right {
  justify-content: flex-end;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 920px;
  padding: 0 20px;
  margin: 0 auto;
}