@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$font-roboto: 'Roboto', sans-serif;

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  &.fa-search {
    &:before {
      content: "\f002";
    }
  }

  &.fa-chevron-left {
    &:before {
      content: "\f053";
    }
  }

  &.fa-clock-o {
    &:before {
      content: "\f017";
    }
  }

  &.fa-play {
    &:before {
      content: "\f04b";
    }
  }
}