.singleShowPage {

  .episodeTitle {
    position: relative;
  }

  .showContainer {
    opacity: 0;
    visibility: hidden;
    will-change: opacity, visibility;
    transition: opacity $ease-400, visibility $ease-400;

    &.fade {
      opacity: 1;
      visibility: visible;
    }

    .headImage {
      width: 100%;
      height: 50vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;

      &:after {
        display: block;
        position: absolute;
        background-image: linear-gradient(to bottom, transparent 0%, $black 100%);
        height: 100px;
        width: 100%;
        content: '';
        bottom: 0;
        left: 0;
      }
    }

    .titleContainer {
      padding: 20px 0 40px;
      display: flex;

      .col-logo {
        align-items: center;
        justify-content: center;
        img {
          width: auto;
          max-height: 100px;
        }
      }

      .col-title {
        display: inline-block;
      }

      .channelTitle {
        text-transform: uppercase;
        font-size: 16px;
        padding-right: 20px;
      }

      .dateTime {
        font-size: 14px;
        font-weight: 300;
        color: rgba($white, 0.5);
      }

      .showTitle {
        h1 {
          margin-top: 10px;
          font-weight: 300;
          font-size: 42px;
        }
      }

      .titleFooter {
        color: rgba($white, 0.7);
        font-weight: 300;
        font-size: 14px;

        .metaYear {
          font-size: 16px;
          padding-right: 40px;
          padding-bottom: 10px;
          display: inline-block;
        }

        .metaGenres {
          display: inline-block;
        }

        .singleGenre {
          padding-bottom: 5px;
          display: inline-block;
          padding-right: 20px;
        }
      }
    }

    .mainContainer {
      font-size: 20px;
      letter-spacing: 1.1px;
      font-weight: 300;
      line-height: 1.3em;
    }

    .personContainer {
      color: rgba($white, 0.7);
      margin: 25px 0 0;

      &:last-child {
       margin-top: 0;
      }

      .personTitle,
      .personSingle {
        display: inline-block;
        margin: 5px 0;
      }

      .personTitle {
        padding-right: 10px;
      }

      .singlePerson {
        display: inline-block;
        padding-right: 7px;

        &:after {
          content: ',';
        }

        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }

    .seasonsNavigation {
      border-top: 1px solid $lightgrey;
      margin: 30px 0;
      padding-top: 20px;

      .seasonButton {
        margin: 10px 15px 8px 0;
        background: none;
        border-radius: 0;
        padding: 10px 20px;
        font-weight: 300;
        font-size: 18px;
        outline: none;
        border: 1px solid rgba($white, 0.5);
        color: rgba($white, 0.5);
        cursor: pointer;
        transition: color $ease-300, border $ease-300;
        will-change: color, border;

        &:hover,
        &.active {
          border: 1px solid $yellow;
          color: $yellow;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .seasonsContainer {
      padding-bottom: 50px;
    }

    .singleEpisode {
      display: block;
      width: 100%;
      background: $darkgrey;
      color: rgba($white, 0.7);
      padding: 15px;
      font-weight: 300;
      font-size: 16px;
      cursor: pointer;
      transition: color $ease-300;
      will-change: color;
      position: relative;

      &:after {
        content: '';
        width: 0;
        height: 1px;
        background: $yellow;
        position: absolute;
        bottom: 0;
        left: 0;
        will-change: width;
        transition: width $ease-300;
      }

      &:nth-child(2n) {
        background: $black;
      }

      &:hover {
        color: $yellow;

        &:after {
          width: 100%;
        }
      }

      .episodeNumber {
        width: 100px;
        display: inline-block;
      }

      i {
        float: right;
      }
    }
  }
}