@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }
  .fa.fa-search:before {
    content: "\f002"; }
  .fa.fa-chevron-left:before {
    content: "\f053"; }
  .fa.fa-clock-o:before {
    content: "\f017"; }
  .fa.fa-play:before {
    content: "\f04b"; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  color: #ffffff;
  background: #000000;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

a {
  color: #ffd600;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    text-decoration: none;
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

::selection {
  background: #ffd600;
  color: #000000; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

strong,
b {
  font-weight: 700; }

em,
i {
  font-style: italic; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.flex-left {
  justify-content: flex-start; }

.flex-center {
  justify-content: center; }

.flex-right {
  justify-content: flex-end; }

.wrapper {
  display: block;
  width: 100%;
  max-width: 920px;
  padding: 0 20px;
  margin: 0 auto; }

.col {
  vertical-align: top;
  display: flex; }
  .col.col-1 {
    width: calc((100% / 12) * 1); }
  .col.col-2 {
    width: calc((100% / 12) * 2); }
  .col.col-3 {
    width: calc((100% / 12) * 3); }
  .col.col-4 {
    width: calc((100% / 12) * 4); }
  .col.col-5 {
    width: calc((100% / 12) * 5); }
  .col.col-6 {
    width: calc((100% / 12) * 6); }
  .col.col-7 {
    width: calc((100% / 12) * 7); }
  .col.col-8 {
    width: calc((100% / 12) * 8); }
  .col.col-9 {
    width: calc((100% / 12) * 9); }
  .col.col-10 {
    width: calc((100% / 12) * 10); }
  .col.col-11 {
    width: calc((100% / 12) * 11); }
  .col.col-12 {
    width: calc((100% / 12) * 12); }

.header {
  background: #000000;
  display: flex;
  max-height: 98px; }
  .header.calendarPage {
    position: relative; }
  .header.showPage {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; }
  .header .col {
    height: 100px;
    align-items: center;
    padding: 15px 30px; }
    .header .col img {
      max-width: none;
      max-height: 100%; }
    .header .col i {
      color: #ffd600;
      font-size: 20px; }

.main {
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 400ms ease-in, visibility 400ms ease-in; }
  .main.loaded {
    opacity: 1;
    visibility: visible; }

.calendar,
.timeline {
  white-space: nowrap;
  width: 100vw;
  overflow-x: auto;
  position: relative; }
  @media (min-width: 1024px) {
    .calendar,
    .timeline {
      overflow: hidden; } }

.calendarTimeContainer,
.timelineTimes {
  position: relative; }

.calendar .calendarDay {
  display: inline-block;
  color: #555555;
  min-width: 75px;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  background: #252525;
  border-bottom: 1px solid #555555; }
  .calendar .calendarDay > div {
    font-size: 18px;
    margin-bottom: 4px;
    pointer-events: none; }
  .calendar .calendarDay.active {
    color: #ffffff; }
  .calendar .calendarDay:focus {
    outline: none;
    color: #ffd600; }

.calendar.disable > div > div {
  pointer-events: none; }

.timeline {
  height: calc(100vh - 100px - 72px);
  background: #252525; }
  .timeline .calendarTime {
    display: inline-block;
    color: #ffffff;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    position: relative;
    background: #252525;
    border-bottom: 1px solid #555555; }
    .timeline .calendarTime:before {
      content: '';
      height: 24px;
      width: 1px;
      background: #555555;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0; }

.button {
  font-size: 23px;
  background: #ffd600;
  border-radius: 100%;
  border: 0 none;
  cursor: pointer;
  color: #252525;
  z-index: 2;
  width: 50px;
  height: 50px;
  transition: color 300ms ease-in, background 300ms ease-in; }
  .button.black {
    background: #000000; }
    .button.black i {
      color: #ffd600; }
    .button.black:hover {
      background: #ffd600; }
      .button.black:hover i {
        color: #252525; }
  .button:focus {
    outline: none; }
  .button.setActiveTimeButton {
    padding: 12px 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    will-change: color, background; }
    .button.setActiveTimeButton:hover {
      background: #252525; }
      .button.setActiveTimeButton:hover i {
        color: #ffffff; }

.schedule {
  white-space: nowrap;
  width: 100vw;
  position: relative; }

.preloader {
  border: 5px solid #ffd600;
  border-radius: 100%;
  height: 30px;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  transition: opacity 400ms ease-in, visibility 400ms ease-in;
  will-change: opacity, visibility;
  z-index: 20; }
  .preloader.loaded {
    opacity: 0;
    visibility: hidden;
    animation: none; }
  .preloader.preloader-image {
    z-index: -1;
    position: absolute; }

@keyframes pulsate {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.25);
    opacity: 0; } }

.o-lis {
  width: 120px;
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 111;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility, transform;
  transition: opacity 300ms ease-in, visibility 300ms ease-in, transform 300ms ease-in;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.65);
  transform: translateX(-200%); }
  .o-lis.loaded {
    opacity: 1;
    visibility: visible;
    transform: translateX(0); }
  .o-lis.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200%); }
  .o-lis li {
    list-style-type: none;
    width: 120px;
    height: 100px;
    padding: 20px;
    margin: 0;
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #555555; }
    .o-lis li img {
      max-height: 100%;
      width: auto; }

.single-show {
  height: 100px;
  background: #000000;
  display: inline-block;
  border-bottom: 1px solid #555555;
  white-space: normal;
  vertical-align: top;
  position: relative;
  cursor: pointer; }
  .single-show a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px; }
    .single-show a:focus {
      outline: none;
      text-decoration: none; }
      .single-show a:focus:after {
        width: 100%; }
    .single-show a:after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #ffd600;
      transition: width 300ms ease-in;
      will-change: width; }
  .single-show:hover a {
    text-decoration: none; }
    .single-show:hover a:after {
      width: 100%; }
  .single-show:nth-child(2n) {
    background: #3C3C3C; }
  .single-show .title {
    color: #ffffff;
    padding-bottom: 5px;
    display: block; }
  .single-show .time {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px; }

.p-lis {
  white-space: nowrap;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 300ms ease-in, visibility 300ms ease-in; }
  .p-lis.loaded {
    opacity: 1;
    visibility: visible; }
  .p-lis > ul {
    margin: 0;
    padding: 0; }
  .p-lis.disable .single-show a {
    pointer-events: none; }

.currentTimeMarker {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  z-index: 2;
  background: #ffd600;
  transform: translateY(-100%);
  transition: transform 300ms ease-in;
  will-change: transform;
  transition-delay: 1s; }
  .currentTimeMarker.timeline {
    height: 50px; }
  .currentTimeMarker.loaded {
    transform: translateY(0); }

.errorHandler {
  position: fixed;
  bottom: 50%;
  left: 50%;
  z-index: 2;
  background: #000000;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 15px;
  color: #ffffff;
  letter-spacing: 1.2px;
  transform: translate(-50%, -50%); }
  .errorHandler span {
    color: #ffd600;
    font-weight: 700; }

.searchform {
  position: absolute;
  top: 100px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 70px;
  display: block;
  z-index: 2;
  border-top: 1px solid #555555;
  transition: opacity 300ms ease-in, visibility 300ms ease-in, transform 300ms ease-in;
  will-change: opacity, visibility, transform;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%); }
  .searchform.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }
  .searchform .searchInput {
    font-size: 24px;
    border: 0 none;
    background: none;
    outline: none;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #ffd600;
    font-weight: 300;
    letter-spacing: 1.2px; }
    .searchform .searchInput:focus {
      outline: none; }

.singleShowPage .episodeTitle {
  position: relative; }

.singleShowPage .showContainer {
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity 400ms ease-in, visibility 400ms ease-in; }
  .singleShowPage .showContainer.fade {
    opacity: 1;
    visibility: visible; }
  .singleShowPage .showContainer .headImage {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    .singleShowPage .showContainer .headImage:after {
      display: block;
      position: absolute;
      background-image: linear-gradient(to bottom, transparent 0%, #000000 100%);
      height: 100px;
      width: 100%;
      content: '';
      bottom: 0;
      left: 0; }
  .singleShowPage .showContainer .titleContainer {
    padding: 20px 0 40px;
    display: flex; }
    .singleShowPage .showContainer .titleContainer .col-logo {
      align-items: center;
      justify-content: center; }
      .singleShowPage .showContainer .titleContainer .col-logo img {
        width: auto;
        max-height: 100px; }
    .singleShowPage .showContainer .titleContainer .col-title {
      display: inline-block; }
    .singleShowPage .showContainer .titleContainer .channelTitle {
      text-transform: uppercase;
      font-size: 16px;
      padding-right: 20px; }
    .singleShowPage .showContainer .titleContainer .dateTime {
      font-size: 14px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.5); }
    .singleShowPage .showContainer .titleContainer .showTitle h1 {
      margin-top: 10px;
      font-weight: 300;
      font-size: 42px; }
    .singleShowPage .showContainer .titleContainer .titleFooter {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 300;
      font-size: 14px; }
      .singleShowPage .showContainer .titleContainer .titleFooter .metaYear {
        font-size: 16px;
        padding-right: 40px;
        padding-bottom: 10px;
        display: inline-block; }
      .singleShowPage .showContainer .titleContainer .titleFooter .metaGenres {
        display: inline-block; }
      .singleShowPage .showContainer .titleContainer .titleFooter .singleGenre {
        padding-bottom: 5px;
        display: inline-block;
        padding-right: 20px; }
  .singleShowPage .showContainer .mainContainer {
    font-size: 20px;
    letter-spacing: 1.1px;
    font-weight: 300;
    line-height: 1.3em; }
  .singleShowPage .showContainer .personContainer {
    color: rgba(255, 255, 255, 0.7);
    margin: 25px 0 0; }
    .singleShowPage .showContainer .personContainer:last-child {
      margin-top: 0; }
    .singleShowPage .showContainer .personContainer .personTitle,
    .singleShowPage .showContainer .personContainer .personSingle {
      display: inline-block;
      margin: 5px 0; }
    .singleShowPage .showContainer .personContainer .personTitle {
      padding-right: 10px; }
    .singleShowPage .showContainer .personContainer .singlePerson {
      display: inline-block;
      padding-right: 7px; }
      .singleShowPage .showContainer .personContainer .singlePerson:after {
        content: ','; }
      .singleShowPage .showContainer .personContainer .singlePerson:last-child:after {
        content: ''; }
  .singleShowPage .showContainer .seasonsNavigation {
    border-top: 1px solid #555555;
    margin: 30px 0;
    padding-top: 20px; }
    .singleShowPage .showContainer .seasonsNavigation .seasonButton {
      margin: 10px 15px 8px 0;
      background: none;
      border-radius: 0;
      padding: 10px 20px;
      font-weight: 300;
      font-size: 18px;
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      transition: color 300ms ease-in, border 300ms ease-in;
      will-change: color, border; }
      .singleShowPage .showContainer .seasonsNavigation .seasonButton:hover, .singleShowPage .showContainer .seasonsNavigation .seasonButton.active {
        border: 1px solid #ffd600;
        color: #ffd600; }
      .singleShowPage .showContainer .seasonsNavigation .seasonButton:focus {
        outline: none; }
  .singleShowPage .showContainer .seasonsContainer {
    padding-bottom: 50px; }
  .singleShowPage .showContainer .singleEpisode {
    display: block;
    width: 100%;
    background: #252525;
    color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    transition: color 300ms ease-in;
    will-change: color;
    position: relative; }
    .singleShowPage .showContainer .singleEpisode:after {
      content: '';
      width: 0;
      height: 1px;
      background: #ffd600;
      position: absolute;
      bottom: 0;
      left: 0;
      will-change: width;
      transition: width 300ms ease-in; }
    .singleShowPage .showContainer .singleEpisode:nth-child(2n) {
      background: #000000; }
    .singleShowPage .showContainer .singleEpisode:hover {
      color: #ffd600; }
      .singleShowPage .showContainer .singleEpisode:hover:after {
        width: 100%; }
    .singleShowPage .showContainer .singleEpisode .episodeNumber {
      width: 100px;
      display: inline-block; }
    .singleShowPage .showContainer .singleEpisode i {
      float: right; }
