.button {
  font-size: 23px;
  background: $yellow;
  border-radius: 100%;
  border: 0 none;
  cursor: pointer;
  color: $darkgrey;
  z-index: 2;
  width: 50px;
  height: 50px;
  transition: color $ease-300, background $ease-300;

  &.black {
    background: $black;

    i {
      color: $yellow;
    }

    &:hover {
      background: $yellow;

      i {
        color: $darkgrey;
      }
    }
  }

  &:focus {
    outline: none;
  }

  &.setActiveTimeButton {
    padding: 12px 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    will-change: color, background;

    &:hover {
      background: $darkgrey;

      i {
        color: $white;
      }
    }
  }
}