.main {
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity $ease-400, visibility $ease-400;

  &.loaded {
    opacity: 1;
    visibility: visible;
  }
}

.calendar,
.timeline {
  white-space: nowrap;
  width: 100vw;
  overflow-x: auto;
  position: relative;
  @media (min-width: $desktop) {
    overflow: hidden;
  }
}

.calendarTimeContainer,
.timelineTimes {
  position: relative;
}

.calendar {

  .calendarDay {
    display: inline-block;
    color: $lightgrey;
    min-width: 75px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background: $darkgrey;
    border-bottom: 1px solid $lightgrey;

    > div {
      font-size: 18px;
      margin-bottom: 4px;
      pointer-events: none;
    }

    &.active {
      color: $white;
    }

    &:focus {
      outline: none;
      color: $yellow;
    }
  }

  &.disable {
    > div {
      > div {
        pointer-events: none;
      }
    }
  }
}

.timeline {
  height: calc(100vh - 100px - 72px);
  background: $darkgrey;

  .calendarTime {
    display: inline-block;
    color: $white;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    position: relative;
    background: $darkgrey;
    border-bottom: 1px solid $lightgrey;

    &:before {
      content: '';
      height: 24px;
      width: 1px;
      background: $lightgrey;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}