.errorHandler {
  position: fixed;
  bottom: 50%;
  left: 50%;
  z-index: 2;
  background: $black;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 15px;
  color: $white;
  letter-spacing: 1.2px;
  transform: translate(-50%,-50%);

  span {
    color: $yellow;
    font-weight: 700;
  }
}