.header {
  background: $black;
  display: flex;
  max-height: 98px;

  &.calendarPage {
    position: relative;
  }

  &.showPage {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  .col {
    height: 100px;
    align-items: center;
    padding: 15px 30px;

    img {
      max-width: none;
      max-height: 100%;
    }

    i {
      color: $yellow;
      font-size: 20px;
    }
  }
}