.o-lis {
  width: 120px;
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 111;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility, transform;
  transition: opacity $ease-300, visibility $ease-300, transform $ease-300;
  box-shadow: 5px 0 10px rgba($black, 0.65);
  transform: translateX(-200%);

  &.loaded {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200%);
  }

  li {
    list-style-type: none;
    width: 120px;
    height: 100px;
    padding: 20px;
    margin: 0;
    background: $darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $lightgrey;

    img {
      max-height: 100%;
      width: auto;
    }
  }
}