.preloader {
  border: 5px solid $yellow;
  border-radius: 100%;
  height: 30px;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  transition: opacity $ease-400, visibility $ease-400;
  will-change: opacity, visibility;
  z-index: 20;

  &.loaded {
    opacity: 0;
    visibility: hidden;
    animation: none;
  }

  &.preloader-image {
    z-index: -1;
    position: absolute;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}