.p-lis {
  white-space: nowrap;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity $ease-300, visibility $ease-300;

  &.loaded {
    opacity: 1;
    visibility: visible;
  }

  > ul {
    margin: 0;
    padding: 0;
  }

  &.disable {
    .single-show {
      a {
        pointer-events: none;
      }
    }
  }
}