.searchform {
  position: absolute;
  top: 100px;
  left: 0;
  background: rgba($black ,0.9);
  width: 100%;
  height: 70px;
  display: block;
  z-index: 2;
  border-top: 1px solid $lightgrey;
  transition: opacity $ease-300, visibility $ease-300, transform $ease-300;
  will-change: opacity, visibility, transform;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .searchInput {
    font-size: 24px;
    border: 0 none;
    background: none;
    outline: none;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: $yellow;
    font-weight: 300;
    letter-spacing: 1.2px;

    &:focus {
      outline: none;
    }
  }
}