.single-show {
  height: 100px;
  background: $black;
  display: inline-block;
  border-bottom: 1px solid $lightgrey;
  white-space: normal;
  vertical-align: top;
  position: relative;
  cursor: pointer;

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;

    &:focus {
      outline: none;
      text-decoration: none;

      &:after {
        width: 100%;
      }
    }

    &:after {
      content: '';
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $yellow;
      transition: width $ease-300;
      will-change: width;
    }
  }

  &:hover {
    a {
      text-decoration: none;

      &:after {
        width: 100%;
      }
    }
  }

  &:nth-child(2n) {
    background: $grey;
  }

  .title {
    color: $white;
    padding-bottom: 5px;
    display: block;
  }

  .time {
    color: rgba($white, 0.75);
    font-size: 13px;
  }
}