.currentTimeMarker {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  z-index: 2;
  background: $yellow;
  transform: translateY(-100%);
  transition: transform $ease-300;
  will-change: transform;
  transition-delay: 1s;

  &.timeline {
    height: 50px;
  }

  &.loaded {
    transform: translateY(0);
  }
}